# Ignore these directories:
/snakemake_paper/results
/snakemake_paper/intermediate
/snakemake_paper/data/*
/snakemake_paper/.snakemake

# Ignore temporary files
/git_tutorial/.tmp

# Ignore all files in the data/ directory
# Exclude the metadata file by prefixing it with an exclamation mark
/git_tutorial/data/*

# Exclude the metadata file by prefixing it with an exclamation mark
/git_tutorial/!data/metadata.txt

# Ignore the shell lessondata
/shell-lesson-data/

# Ignore the fastq.gz and fastqfiles
/snakemake_simple/trim_fastq/*.gz
/snakemake_simple/trim_fastq/*.fastq
/snakemake_simple/trim_fastq/.snakemake
*.pptx